<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Management app</title>
    <link rel="stylesheet" href="../signup/signup.css">
</head>
<body>
<div id="signup_div">
<h1 id="header">Signup Form</h1>
<div id="container">
    <form id="signup_form">
        <input type="text" id="name" name="name" />
    
        <input type="email" id="email" name="email" required/>
         <input type="tel" id="number" name="number" />
        <input type="password" id="password" name="password" required/>
        <button type="submit" id="signup-btn">Signup</button>
        <a href="/login/login.html">Already have an account? Log in here</a>
    </form>
</div>
</div>
</body>
<script src="../signup/signup.js"></script>
</html>